<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <br>
    <ion-input label="Email" label-placement="floating" fill="outline" type="email" placeholder="Ingrese su Email" formControlName="email">
    </ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese su Contraseña" formControlName="password">
    </ion-input>
    <br>
    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    <br>
    <ion-button expand="full" (click)="redirectToRegister()">Crear Cuenta</ion-button>
  </form>
</ion-content>
