<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Imagen de Perfil -->
  <div class="profile-image-container">
    <ion-thumbnail>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
    </ion-thumbnail>
  </div>

  <br>

  <ion-list>
    <!-- Nombre Completo -->
    <ion-item>
      <ion-label position="stacked">Nombre Completo</ion-label>
      <ion-input [(ngModel)]="profileData.fullName" placeholder="Ingresa tu nombre completo"></ion-input>
    </ion-item>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="profileData.email" type="email" placeholder="email@dominio.com"></ion-input>
    </ion-item>

    <!-- Número de Teléfono -->
    <ion-item>
      <ion-label position="stacked">Número de Teléfono</ion-label>
      <ion-input [(ngModel)]="profileData.phoneNumber" type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>

    <!-- Contraseña Actual -->
    <ion-item>
      <ion-label position="stacked">Contraseña Actual</ion-label>
      <ion-input [(ngModel)]="currentPassword" type="password" placeholder="Ingresa tu contraseña actual para guardar los datos"></ion-input>
    </ion-item>

    <!-- Nueva Contraseña (opcional) -->
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña (Opcional)</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingresa una nueva contraseña"></ion-input>
    </ion-item>
  </ion-list>
<br>
  <!-- Botones Guardar y Cancelar -->
  <ion-button expand="block" (click)="onSave()">Guardar</ion-button>
 <br>
  <ion-button expand="block" fill="outline" color="medium" (click)="onCancel()">Cancelar</ion-button>
</ion-content>
