<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-image-container">
    <ion-thumbnail>
      <img alt="Batman" src="https://i.pinimg.com/564x/cf/de/eb/cfdeeb69f48b809603eb3886b8e6954b.jpg" />
    </ion-thumbnail>
  </div>

  <br>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre Completo</ion-label>
      <ion-input [(ngModel)]="profileData.fullName" placeholder="Ingresa tu nombre completo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="profileData.email" type="email" placeholder="email@dominio.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña Actual</ion-label>
      <ion-input [(ngModel)]="currentPassword" type="password"
        placeholder="Ingresa tu contraseña actual para guardar los datos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva Contraseña (Opcional)</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingresa una nueva contraseña"></ion-input>
    </ion-item>
  </ion-list>

  <div class="button-container">

    <ion-button expand="block" (click)="onSave()">Guardar</ion-button>

    <ion-button expand="block" color="danger" (click)="onCancel()">Cancelar</ion-button>
  </div>
</ion-content>