<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item class="custom-title">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="Profile Image" src="https://i.pinimg.com/564x/42/fc/0b/42fc0b765d1c884b7b62e1758949da41.jpg" />
      </ion-avatar>
      <ion-title>Bruno</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-item>

      <ion-item routerLink="/edit">
        <ion-icon name="settings"></ion-icon>
        Ajustes
      </ion-item>

      <ion-item routerLink="/login" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar sesión
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>


<ion-content id="main-content" color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Añadir Nueva Nota</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="newNoteTitle" placeholder="Título de la Nota"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newNoteDescription" placeholder="Descripción de la Nota"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addNote()">Añadir Nota</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item *ngFor="let note of notes; let i = index">
      <ion-label *ngIf="editingIndex !== i">
        <h2>{{ note.title }}</h2>
        <p>{{ note.description }}</p>
        <ion-note color="medium">{{ note.date | date:'short' }}</ion-note>
      </ion-label>

      <ion-item *ngIf="editingIndex === i">
        <ion-input [(ngModel)]="note.title" placeholder="Editar Título"></ion-input>
        <ion-input [(ngModel)]="note.description" placeholder="Editar Descripción"></ion-input>
      </ion-item>

      <ion-buttons slot="end">
        <ion-button *ngIf="editingIndex !== i" color="primary" (click)="editNote(i)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button *ngIf="editingIndex === i" color="success" (click)="saveNote(i)">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button *ngIf="editingIndex === i" color="medium" (click)="cancelEdit()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteNote(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>


    </ion-item>
  </ion-list>
</ion-content>